<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Edit Product</title>
</head>
<body>
    <h1>Edit Product</h1>
    
    <form action="/products/<%= product._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="_method" value="PUT">
        <label for="name">Product Name:</label>
        <input type="text" id="name" name="name" value="<%= product.name %>" required><br><br>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" value="<%= product.price %>" required><br><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" rows="4" cols="50" required><%= product.description %></textarea><br><br>
        <label for="category">Category:</label>
        <input type="text" id="category" name="category" value="<%= product.category %>" required><br><br>
        <label for="image">Product Image:</label>
        <input type="file" id="image" name="image"><br><br>
        <button type="submit">Update Product</button>

        <% if (errors) { %>
            <div>
                <% errors.forEach(error => { %>
                    <p><%= error.msg %></p>
                <% }); %>
            </div>
        <% } %>
    </form>
</body>
</html>
